<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/rea-bot-api-db</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">bot-api-admin</property>
        <property name="connection.password">admin</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>

        <mapping class="com.example.data.dao.Lessons" />
        <mapping class="com.example.data.dao.Disciplines" />
        <mapping class="com.example.data.dao.Schedules" />
        <mapping class="com.example.data.dao.Teachers" />
        <mapping class="com.example.data.dao.TeacherPosts" />
        <mapping class="com.example.data.dao.ScheduleUpdates" />
    </session-factory>
</hibernate-configuration>